@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: navy;
    font-family: "Roboto", serif;
}

.score{
    width: 100%;
    border: 1px solid orangered;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footer{
    width: 100%;
    height: auto;
    border: 1px solid orangered;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: absolute;
    bottom: 10px;
    padding: 10px;
}
.controls i{
    margin: 5px;
    background-color: orangered;
    padding: 10px;
    font-size: 50px;
    color: white;
    border-radius: 10px;
}
.shooter{
    background-color: orangered;
    padding:5px;
    border-radius: 10px;
}
.ground{
    border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start{
    background-color: orangered;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    height: 50px;
}